body{
  font-family: "Ubuntu", sans-serif;
  color: white;
  background-color: rgb(8, 2, 33);
  margin: 0px;
  padding: 0px;
}

nav{
  background-color: rgba(21, 10, 59, 0.8);
  padding: 0px;
  margin: 0px;
  display: flex;
}

nav ul{
  margin: 0px;
  padding: 8px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li{
  margin: 3px;
  padding: 13px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

.card{
  background-color: rgb(8, 2, 33);
  border : 5px solid hsl(0,0,0);
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(75, 0, 130, 0.8);
  padding: 20px;
  margin: 10px; 
  display: flex;
  flex-shrink: 0;
  text-align: center;
  max-width: 700px;
  
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:active{
  background-color: rgb(38, 32, 63);
  box-shadow: 0 4px 7px rgba(114, 63, 181, 0.7);
}

.card img{
  height: auto;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(1, 0, 39, 0.8);
}

/* .logo{
  padding: 3px;
} */

.logo img{
  /* width: 55px;
  height: 45px;
  border-radius: 50%; */
  padding: 12px;
  width: 55px;
  height: 45px;
  border-radius: 50%;
}

.info{
  padding: 7px;
  transition: text-shadow 0.3s ease;
}

.info:hover{
  text-shadow: 2px 2px 10px rgba(162, 108, 232, 0.7);
}

.info h2{
  font-size: 60px;
  color: rgb(233, 227, 227);
}

.info p{
  padding: 5px;
}


p{
  color:white;
}

.button{
  background-color: hsl(200, 100%, 50%);
  color:white;
  /* padding:10px 20px; */
  border-radius: 5px;
  border:none;
  cursor:pointer;
}

/* .student{
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
  border: 1px solid black;
  color: red;
}

.student p.hover{
  size: 6em;
} */

.welcome-message{
  font-size: 25px;
  background-color: rgb(7, 247, 7);
  color:white;
  padding: 10px;
  border-radius: 5px;
  margin:2px;
}
.login-prompt{
  font-size: 25px;
  background-color: red;
  color:white;
  padding: 10px;
  border-radius: 5px;
  margin:2px;
}

.students{
  display: flex;
  justify-content: center;
  align-items: center;
}

.student{
  padding: 15px;
  margin: 18px;
  box-shadow: 0 4px 7px rgba(114, 63, 181, 0.7);
  border-radius: 10px;
}

.student:active{
  background-color: rgb(38, 32, 63);
  box-shadow: 0 4px 7px rgba(114, 63, 181, 0.7);
}

.calorieList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  margin: 15px;
  padding: 10px;
  height: 50px;
  width: 150px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  background-color: rgb(8, 2, 33);
  border : 5px solid hsl(0,0,0);
  box-shadow: 0 4px 7px rgba(114, 63, 181, 0.7);
  border-radius: 10px;
}

button:active{
  background-color: rgb(38, 32, 63);
  box-shadow: 0 4px 7px rgba(114, 63, 181, 0.7);
}

.food{
  padding: 15px;
  margin: 18px;
  box-shadow: 0 4px 7px rgba(114, 63, 181, 0.7);
  border-radius: 10px;
}