.card{
  background-color: black;
  border : 5px solid hsl(0,0,0);
  border-radius: 10px;
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.13); 
  padding: 20px;
  margin: 10px; 
  text-align: center;
  max-width: 550px;
  display: inline-block;
  
}

h2{
  color:rgb(209, 212, 23)
}

p{
  color:blue
}
h2:hover{
  color:greenyellow
}

p:hover{
  color:red
}

.button{
  background-color: hsl(200, 100%, 50%);
  color:white;
  /* padding:10px 20px; */
  border-radius: 5px;
  border:none;
  cursor:pointer;
}

.student{
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
  border: 1px solid black;
  color: red;
}

.student p.hover{
  size: 6em;
}

.welcome-message{
  font-size: 25px;
  background-color: rgb(7, 247, 7);
  color:white;
  padding: 10px;
  border-radius: 5px;
  margin:2px;
}
.login-prompt{
  font-size: 25px;
  background-color: red;
  color:white;
  padding: 10px;
  border-radius: 5px;
  margin:2px;
}